.divback{
    background: white;
box-shadow: 12px 12px 10px -10px whitesmoke;

}
        .menu1{
            position: fixed;
            top: 1.8vw;
            left: 3vw;
            color: white;
            z-index: 11 !important;
        }
        .logo{
            
display: block;
margin-left: auto;
margin-right: auto;
        }
        .size{
            height: 150px !important;
        }
        .side-out-width{
            width: 80% !important;
        }
        .closeicon{
            float: right !important;
            font-size: 2.5rem;
        }
        .closeicon:hover{
            cursor: pointer;
        }
        .menupos{
            position: absolute;
            top: 35%;
            left: 35%;
        }
        .menupos li a{
            font-size: 25px;
        }
        .menupos li a i{
            font-size: 35px;
            margin: 0 10px 0 0;
        }
        .blue1{
            height: 5.85vw;
            background:#2196f329;
        }
        .menuicon{
            z-index: 11 !important;
            transition: 2s;
            border-radius: 11px;
    background: linear-gradient(114deg, rgba(9,6,62,0.5130427170868348) 42%, rgba(222,221,232,0.8603816526610644) 61%);
    box-shadow: 1px -2px 3px -1px rgba(9,6,62,0.5130427170868348);

        }
        footer{
            background: linear-gradient(117deg, rgba(9,6,62,0.5130427170868348) 37%, rgba(125,102,138,0.9374124649859944) 61%, rgba(222,221,232,0.8603816526610644) 92%);
        }
        header{
            background: linear-gradient(117deg, rgba(9,6,62,0.5130427170868348) 37%, rgba(125,102,138,0.9374124649859944) 61%, rgba(222,221,232,0.8603816526610644) 92%);
        }

        @media only screen and (max-width:600px) and (min-width:200px) {
            .menupos1{
                position: absolute;
                top: 35%;
                left: 0 !important;
            }
        }
