
    .baner-img{
        height: 545px !important;
        width: 100%;
    }
    .baner-text-pos{
        position: absolute;
        top: 32%;
        right: 0;
        /* background: white; */
        padding: 5vw;
        width: 38%;
        background: linear-gradient(117deg, rgba(9,6,62,0.5130427170868348) 37%, rgba(125,102,138,0.9374124649859944) 55%, rgba(222,221,232,0.8603816526610644) 92%);
        color: white;
    }
    /*.noticecard{
    width: 90%;
    margin: auto;
    position: relative;
    top: -38px;
    height: 570px;
    padding: 25px;
    }*/
    .newscard{
        margin-left: 26px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .newspos{
        padding: 0px 10px 0px 10px;
    }
    .datetime{
        background: blue;
    padding: 1.3rem;
    margin-right: 10px;
    font-size: 18px;
    background: radial-gradient(circle, rgba(238,239,245,0.5494572829131652) 62%, rgba(177,70,252,1) 85%);
    box-shadow: 10px 10px 10px radial-gradient(circle, rgba(238,239,245,0.5494572829131652) 62%, rgba(177,70,252,1) 85%);
    box-shadow: -2px -1px rgba(177,70,252,1);
    text-align: center;
    }
    .main
    {
        display: flex;
        margin-bottom: 10px;
    }
    .samepos{
        display: flex;
        flex-wrap: wrap;
    }
    .divback{
        background: white;
    box-shadow: 12px 12px 10px -10px whitesmoke;
    
    }
    .divback1{
            background: white;
        box-shadow: 12px 12px 10px -10px whitesmoke;
        margin-left: -10px !important;
    }
    .bgwhy{
        background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 88%);
    }
    .pad{
        padding: 10px 0px !important;
    }
    .card:hover i{
        transform: rotate(360deg) scale(0.6);
        transition:1s ease-in-out;
    }
    .card:hover{
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition: 1s ease-out;
    }
